@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=DotGothic16&display=swap");

.header {
  background-color: #ffd2ff;
  padding-bottom: 30px;
  font-family: "Darumadrop One", cursive;
}

.header h1 {
  font-size: 68px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid white;
  position: relative;
}

.header .line {
  border: white 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -0%);
}

.header p {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
